<div class="d-flex flex-column flex-shrink-0 bg-light text-center" id="sidebar">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
        <div class="text-white">
            <img id="initial" src="https://i1.sndcdn.com/avatars-1GQ9vemq8kPPz2XL-UxPk2w-t500x500.jpg" alt="">
        </div>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-speedometer2"></i>
            </a>
          </li>
      <li class="nav-item">
        <a href="#" class="nav-link py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="bi bi-people"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="bi bi-envelope"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="bi bi-gear"></i> 
        </a>
      </li>
    </ul>
  </div>