#sideContainer {
    background-image: linear-gradient(to right, var(--bs-custom-1) , var(--bs-custom-2));
    position: relative;
    
}


#mainContainer {
    position: relative;
}

#pageContainer {
    padding: 0;
    z-index: 100;
    background-color: rgb(238, 237, 237);
}

#sideLogo, #loginCard {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#background {
    position: fixed; top: 0; left: 0; height: 100vh; z-index: -100;
}

#logoIcon {
    font-size: 10rem;
}
#loginText {
    margin-top: 10%;
}

#mainCard {
    box-shadow: 1px 1px 20px black;
    border: none;
}



.input-group:focus-within {
    .form-control, .input-group-text{
        box-shadow: 2px 3px 5px gray;
        border: 1px solid lightgray;
        -webkit-transition: box-shadow .5s ease-out;
        -moz-transition: box-shadow .5s ease-out;
        -ms-transition: box-shadow .5s ease-out;
        -o-transition: box-shadow .5s ease-out;
        transition: box-shadow .5s ease-out
    
}
}

.form-control, .input-group-text{
    -webkit-transition: box-shadow .5s ease-out;
    -moz-transition: box-shadow .5s ease-out;
    -ms-transition: box-shadow .5s ease-out;
    -o-transition: box-shadow .5s ease-out;
    transition: box-shadow .5s ease-out

}


#inputForm {
    margin-top: 10%;
}
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@include media-breakpoint-up(md) {
    #pageContainer {
        padding: 5%;
        padding-left: 15%;
        padding-right: 15%;
    }
  }