#sideContainer {
    background-image: linear-gradient(to right, var(--bs-custom-1) , var(--bs-custom-2));;
    
}

#mainContainer {
    
}

#pageContainer {
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
    z-index: 100;
    background-color: rgb(238, 237, 237);
}

#background {
    position: fixed; top: 0; left: 0; height: 100vh; z-index: -100;
}

#logoIcon {
    font-size: 10rem;
}
#loginText {
    margin-top: 10%;
}

#mainCard {
    box-shadow: 1px 1px 20px black;
    border: none;
}

#loginCard {
    // background-color: red;
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in
}

.input-group:focus-within {
    .form-control, .input-group-text{
        box-shadow: 2px 3px 5px gray;
        border: 1px solid lightgray;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out
    
}
}

.form-control, .input-group-text{
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out

}


#inputForm {
    margin-top: 10%;
}