<div class="container-fluid h-100" id="pageContainer">
    <div class="card h-100 w-100" id="mainCard">
        <div class="container-fluid h-100">
            <div class="row h-100 w-100">
                <div class="col-md-5 d-flex align-items-center h-100" id="sideContainer">
                    <div class="container text-center">
                        <span id="logoIcon" class="text-white"><i class="bi bi-person-fill"></i></span>
                        <span><h1 class="text-white">Employee Management System</h1></span>
                    </div>
                </div>
                <div class="col-md-7 d-flex align-items-center" id="mainContainer">
                    <div class="mx-auto my-auto w-75 h-75" id="loginCard">
                        <div class="container text-center" id="loginText">
                            <span><h1>Log In</h1></span>
                        </div>
                        <div class="container p-5" id="inputForm">
                            <span>Username</span>
                            <div class="input-group mb-5 mt-2">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                                <input type="text" class="form-control" placeholder="Enter your Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <span>Password</span>
                            <div class="input-group mt-2">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
                                <input type="text" class="form-control" placeholder="Enter your Password" aria-label="Username" aria-describedby="basic-addon1">
                                
                            </div>
                            <span class="float-end mt-3">Forgot Password?</span>
                            <button class="btn btn-primary w-100 mt-5 p-2 text-white">{{"Login" |uppercase}}</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>
